<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<h1>Edit <%= @guitar.year.to_s + " " + @guitar.brand + " " + @guitar.model%></h1>


<form action="/guitars/<%= @guitar.id %>" method="post">
    <input type="hidden" name="_method" value="patch">
    <div class="input-field col s6">
        <input id="brand" name="guitar[brand]" type="text" class="validate" value="<%= @guitar.brand %>">
        <label for="brand">Manufacturer</label>
    </div>
    <div class="input-field col s6">
        <input id="model" name="guitar[model]" type="text" class="validate" value="<%= @guitar.model %>">
        <label for="model">Model</label>
    </div>
    <div class="input-field col s6">
        <input id="year" name="guitar[year]" type="text" class="validate" value="<%= @guitar.year %>">
        <label for="year">Year</label>
    </div>
    <div class="input-field col s6">
        <input id="serial" name="guitar[serial]" type="text" class="validate" value="<%= @guitar.serial %>">
        <label for="serial">Serial Number</label>
    </div>
    <div class="input-field col s6">
        <input id="color" name="guitar[color]" type="color" class="validate" value="<%= @guitar.color %>">
        <label for="color"></label>
    </div>
    <div class="input-field col s6">
        <input id="cost" name="guitar[cost]" type="text" class="validate" value="<%= @guitar.cost %>">
        <label for="cost">Cost</label>
    </div>
    <div class="input-field col s6">
        <input id="notes" name="guitar[notes]" type="text" class="validate" value="<%= @guitar.notes %>">
        <label for="notes">Notes</label>
    </div>

    <button class="btn-large waves-effect waves-light orange large" type="submit" name="action">Update Guitar
        <i class="material-icons right">build</i>
    </button>
            
</form>


</form>

<script>
$(document).ready(function() {
    $('input#input_text, textarea#textarea2').characterCounter();
  });
</script>
