<style>
      body {
        background-image: url(https://wonderwallstudios.com/wp-content/uploads/2017/02/Bridges_landscape-overview-Reclaimed-wood-Recycled-wood-Wonderwall-Studios-wall-panel-1600x1066.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
      }
</style>

<h2>My Guitars </h2>

<ul>
    <% @guitars.each do |guitar| %>
        <li><a href='/guitars/<%= guitar.id %>'><%= guitar.year.to_s + " " + guitar.brand + " " + guitar.model%></a></li>
    <% end %>
<ul>

<p>Recently Viewed: <%= @guitar ? @guitar.model : "Haven't viewed any guitars." %></p>

<div> <% @guitars.each do |guitar| %>
  <div class="row">
    <div class="col s12 m6">
      <div class="card" style="background: <%= guitar.color %>;">
        <div class="card-content white-text">
          <span class="card-title"><%= guitar.year.to_s + " " + guitar.brand + " " + guitar.model%></span>
          <p>Serial Number: <%= guitar.serial %></p>
          <p>Cost: <%= guitar.cost %></p>
          <p>Notes: <%= guitar.notes %></p>
        </div>
        <div class="card-action">
          <a href='/guitars/<%= guitar.id %>/edit'>Edit this Guitar</a>
          <a href="#">DELETE</a>
        </div>
      </div>
    </div>
    <% end %>
  </div>

  
  

  