<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<h2><%= @guitar.year.to_s + " " + @guitar.brand + " " + @guitar.model%></h2>
<p>Serial Number: <%= @guitar.serial %></p>
<p>Guitar Finish: <%= @guitar.color%></p>
<p>Guitar Cost: <%= @guitar.cost%></p>
<p>Special Notes: <%= @guitar.notes %></p>

<a href="/guitars/:id/edit">Edit</a>

<a class="<%= @guitar.color %> waves-effect waves-light btn-large"><i class="material-icons right">build</i>Edit</a>

<button class="btn-large waves-effect waves-light red white-text " action='/guitars/<%= @guitar.id %>' method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Guitar">
</button>


<button class="btn-large waves-effect waves-light orange large" type="submit" name="action">EDIT
    <i class="material-icons right">build</i>
</button>
            

  <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>

<form action="/guitars/<%=@guitar.id%>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Guitar" class="btn-large red white-text ">
</form>