<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<style>
    .fit{
        padding: 0px 0px 8px 0px;
    }
</style>

<h2><%= @guitar.year.to_s + " " + @guitar.brand + " " + @guitar.model%></h2>
<p>Serial Number: <%= @guitar.serial %></p>
<p>Guitar Finish: <%= @guitar.color%></p>
<p>Guitar Cost: <%= @guitar.cost%></p>
<p>Special Notes: <%= @guitar.notes %></p>


<form action="/guitars/<%=@guitar.id%>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit" class="btn-large red white-text "><div class="fit"><p>Delete<i class="large material-icons right">delete</i></p></div></button>
</form>

